/*====================== Responsive Stylesheet ===========================*/
@media (max-width: 1350px) {
  .layer h5 { font-size: 14px; }

  .layer p { margin: .1rem 0 .5rem; }
}


@media (max-width: 1200px) {
  .home { padding: 50px 7% 0; }

  .about { padding: 180px 7% 0; }

  .project-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 1024px) {
  .logo { font-size: 22px; }

  .navbar a { font-size: 22px; }

  .home { padding: 50px 5% 0; }

  .home-content h3 { font-size: 28px; }

  .home-content h1 { font-size: 50px; }

  .home-content p { font-size: 16px; }

  .typed-cursor { font-size: 1em; }

  .home-img img {
    width: 350px;
    height: 350px;
  }

  .about { padding: 180px 5% 0; }

  .about-img img {
    width: 350px;
    height: 350px;
  }

  .about-content h2 { font-size: 50px; }

  .about-content p { font-size: 16px; }

  .heading { font-size: 50px; }

  .main-text h2 { font-size: 50px; }

  .layer h5 { font-size: 26px; }

  .layer p { font-size: .7rem; }

  .layer a {
    width: 40px;
    height: 40px;
  }

  .layer i { font-size: 16px; }

  .contact-text h2 { font-size: 50px; }
}

@media (max-width: 920px) {
  .home { padding: 50px 5% 0; }

  .about { padding: 180px 5% 0; }

  .skills { padding-top: 240px; }

  .project-content {
    gap: 1.6rem;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 850px) {
  .logo { font-size: 20px; }

  .navbar a { font-size: 18px; }

  .home { padding: 30px 5% 0; }

  .home-content h3 { font-size: 24px; }

  .home-content h1 { font-size: 44px; }

  .home-content p { font-size: 14px; }

  .typed-cursor { font-size: 1em; }

  .home-img img {
    width: 300px;
    height: 300px;
  }

  .about { padding: 180px 5% 0; margin-bottom: 40px; }

  .about-img img {
    width: 300px;
    height: 300px;
  }

  .about-content h2 { font-size: 40px; }

  .about-content h4 { font-size: 26px; }

  .about-content p { font-size: 14px; }

  .skills { padding-top: 280px; }

  .project-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
    padding-left: 40px;
    padding-right: 40px;
  }

  .heading { font-size: 40px; }

  .heading1 { font-size: 26px; }

  .main-text h2 { font-size: 40px; }

  .layer h5 { font-size: 22px; }

  .layer p { font-size: .5rem; }

  .layer a {
    width: 30px;
    height: 30px;
  }

  .layer i { font-size: 14px; }

  .contact-form form { max-width: 45rem; }

  .contact-text h2 { font-size: 40px; }
}

@media (max-width: 750px) {
  .logo { font-size: 20px; }

  #menu-icon {
    display: block;
    font-size: 1.8rem;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--header-bg-color);
    border-top: .1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
    display: none;
  }

  .navbar.active { display: block; }

  .navbar a {
    display: block;
    font-size: 20px;
    margin: 1.8rem 0;
    margin-left: 50px;
  }

  .home {
    padding: 100px 5% 0;
    flex-direction: column;
  }

  .home-content h1 { font-size: 34px; }

  .home-img img {
    width: 350px;
    height: 350px;
    margin-top: 3rem;
  }

  .about {
    padding: 80px 5% 0;
    grid-template-columns: 1fr;
  }

  .about-content { order: 1; }

  .about-img { order: 2; }

  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 20% 0;
  }

  .skills { padding-top: 80px; }

  .main-text { padding-top: 100px; }

  .project-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.2rem;
    padding-left: 40px;
    padding-right: 40px;
  }

  .contact-form form { max-width: 40rem; }
}

@media (max-width: 680px) {
  .home {
    padding: 100px 5% 0;
    flex-direction: column;
  }

  .home-img img {
    width: 350px;
    height: 350px;
    margin-top: 3rem;
  }

  .about {
    padding: 80px 5% 0;
    grid-template-columns: 1fr;
  }

  .about-content { order: 1; }

  .about-img { order: 2; }

  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 20% 0;
  }

  .skills { padding-top: 80px; }

  .main-text { padding-top: 140px; }

  .project-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.8rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-form form { max-width: 35rem; }

  .footer-text p { font-size: 14px; }
}

@media (max-width: 630px) {
  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 18% 0;
  }
}

@media (max-width: 580px) {
  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 16% 0;
  }

  .project-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .layer h5 { font-size: 12px; }

  .layer p { margin: .1rem 0 .1rem; }

  .layer i { font-size: 16px; }

  .contact-form form {
    max-width: 30rem;
  }
}

@media (max-width: 530px) {
  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 13% 0;
  }

  .main-text { padding-top: 180px; }
}

@media (max-width: 500px) {
  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 10% 0;
  }

  .contact-form form {
    max-width: 25rem;
  }
}

@media (max-width: 490px) {
  .about-img img {
    width: 350px;
    height: 350px;
    margin: 3rem 8% 0;
  }

  .technical-bars .bar .info span { font-size: 16px; }

  .radial-bar .text { font-size: 16px; }

  .layer h5 { font-size: 16px; }

  .layer p { margin: .1rem 0 .8rem; }

  .project-content {
    grid-template-columns: 1fr;
    gap: 1.8rem;
    padding-left: 30px;
    padding-right: 30px;
  }

  .contact-form form { max-width: 25rem; }

  .footer-iconTop {
    order: 1;
    margin: 0 40%;
    padding: 8px;
  }

  .footer-text { order: 2; }
}

@media (max-width: 430px) {
  .home-img img {
    width: 300px;
    height: 300px;
    margin: 3rem 3% 0;
  }

  .about-img img {
    width: 300px;
    height: 300px;
    margin: 3rem 8% 0;
  }

  .radial-bar .text { font-size: 16px; }

  .contact-form form { max-width: 22rem; }
}

@media (max-width: 410px) {
  .footer-text { padding: 0 10px; }

  .footer-text p { font-size: 12px; }
}

@media (max-width: 380px) {
  .home-content h3 { font-size: 20px; }

  .home-content h1 { font-size: 30px; }

  .about-content h2 { font-size: 30px; }

  .about-content h4 { font-size: 22px; }

  .heading { font-size: 30px; }

  .heading1 { font-size: 22px; }

  .main-text h2 { font-size: 30px; }

  .contact-text h2 { font-size: 30px; }

  .footer-text { padding: 0 25px; }

  .footer-text p { font-size: 10px; }

  .radial-bar .text { font-size: 16px; }

  .contact-form form { max-width: 20rem; }

  .project-content {
    grid-template-columns: 1fr;
    gap: 1.8rem;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 360px) {
  .home-img img {
    width: 280px;
    height: 280px;
    margin-top: 1rem 10px;
  }

  .about-img img {
    width: 280px;
    height: 280px;
    margin: 1.2rem 10px;
  }

  .bar { font-size: 20px; }

  .technical-bars .bar .info span { font-size: 16px; }

  .radial-bars .radial-bar svg {
    width: 120px;
    height: 140px;
  }

  .radial-bar .text { font-size: 16px; }

  .contact-form form { max-width: 18rem; }
}

@media (max-width: 330px) {
  .home-img img {
    width: 250px;
    height: 250px;
    margin: 1rem 5px;
  }

  .about-img img {
    width: 250px;
    height: 250px;
    margin: 1.2rem 5px;
  }
}

@media (max-width: 300px) {
  .bar { font-size: 18px; }

  .technical-bars .bar .info span { font-size: 14px; }

  .radial-bars .radial-bar svg {
    width: 100px;
    height: 120px;
  }

  .radial-bar .percentage { font-size: 14px; }

  .contact-form form { max-width: 16rem; }
}