@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --bg-color: #1f242d;
  --second-bg-color: #081b29;
  --third-bg-color: #323946;
  --header-bg-color: #051129;
  --text-color: #fff;
  --main-color: #0ef;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: var(--header-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.header.sticky {
  border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
}

.logo {
  position: relative;
  font-size: 25px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

#menu-icon {
  font-size: 2.6rem;
  color: var(--text-color);
  display: none;
}

.navbar a {
  display: inline-block;
  color: var(--text-color);
  font-size: 25px;
  font-weight: 500;
  text-decoration: none;
  margin-left: 35px;
  transition: .3s ease;
  opacity: 0;
  animation: slideTop .5s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: #1f242d;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}

.home-content { max-width: 600px; }

.home-content h3 {
  font-family: "Source Code Pro", monospace;
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: .7s;
}

.home-content h3 span { color: var(--main-color); }

.home-content h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 56px;
  font-weight: 700;
  margin: 6px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.typed-cursor {
  font-size: 1.2em;
  color: #00f2ff;
  animation: blink 0.7s infinite;
}

.social a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: .3s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(.2s * var(--i));
}

.social a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 20px var(--main-color);
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: 12px 28px;
  background: var(--main-color);
  border-radius: 40px;
  font-size: 16px;
  color: var(--second-bg-color);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px var(--main-color),
  0 0 25px var(--main-color);
}

.btn:hover {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
}

.home-img img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--main-color),
  0 0 25px var(--main-color), 0 0 50px var(--main-color);
  animation: floatImage 4s ease-in-out infinite;
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1.5rem;
  padding: 180px 10% 0;
}

.about-img img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 0 0 5px var(--main-color),
  0 0 25px var(--main-color), 0 0 50px var(--main-color);
}

.about-content h2 { font-size: 60px; }

.about-content h2 span { color: var(--main-color); }

.about-content h4 {
  font-size: 30px;
  font-weight: 600;
  color: var(--text-color);
  line-height: 1.7;
  margin: 15px 0 30px;
}

.about-content p {
  font-size: 20px;
  color: aliceblue;
  line-height: 1.7;
  margin-bottom: 4rem;
}

.skills {
  padding-top: 220px;
  margin-top: 0;
}

.heading { font-size: 60px; }

.heading span { color: var(--main-color); }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 60px;
}

.heading { text-align: center; }

.container1,
.container2 {
  width: 100%;
  max-width: 480px;
  height: auto;
  padding: 40px;
  margin: 0;
}

.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.bar {
  font-size: 23px;
  padding-bottom: 4px;
}

.technical-bars .bar { margin: 4px 0; }

.technical-bars .bar:first-child { margin-top: 0; }

.technical-bars .bar:last-child { margin-bottom: 0; }

.technical-bars .bar .info { margin-bottom: 4px; }

.technical-bars .bar .info span {
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: showText .5s 1s linear forwards;
}

.technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 4px;
  background-color: #000;
  margin-bottom: 3px;
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.technical-bars .bar .progress-line span {
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

.progress-line.html span { width: 90%; }

.progress-line.css span { width: 80%; }

.progress-line.js span { width: 60%; }

.progress-line.python span { width: 75%; }

.progress-line.c span { width: 90%; }

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  opacity: 0;
  animation: showText 0.5s 1.5s linear forwards;
}

.progress-line.html span::after { content: "90%"; }

.progress-line.css span::after { content: "80%"; }

.progress-line.js span::after { content: "60%"; }

.progress-line.python span::after { content: "75%"; }

.progress-line.c span::after { content: "90%"; }

.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  opacity: 0;
  animation: showText .5s 1.5s linear forwards;
}

.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bars .radial-bar {
  width: 50%;
  height: 210px;
  margin-bottom: 10px;
  position: relative;
}

.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 160px;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.radial-bars .radial-bar .progress-bar {
  stroke-width: 6;
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}

.path {
  stroke-width: 6;
  stroke: var(--main-color);
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

.path1 { animation: animate-path1 1s 1s linear forwards; }
.path2 { animation: animate-path2 1s 1s linear forwards; }
.path3 { animation: animate-path3 1s 1s linear forwards; }
.path4 { animation: animate-path4 1s 1s linear forwards; }

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: showText .5s 1s linear forwards;
}

.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 18px;
  font-weight: 500;
  opacity: 0;
  animation: showText .5s 1s linear forwards;
}

.main-text {
  padding-top: 220px;
  margin-top: 0;
}

.main-text h2 {
  text-align: center;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 5rem;
}

.main-text h2 span { color: var(--main-color); }

.project-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.6rem;
  padding-left: 60px;
  padding-right: 60px;
}

.project-box {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  display: block;
  aspect-ratio: 16 / 9;
  box-shadow: 0 0 5px var(--second-bg-color),
  0 0 25px var(--second-bg-color), 0 0 50px var(--second-bg-color);
  cursor: pointer;
}

.project-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  transition: transform .5s;
}

.layer {
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.1), var(--main-color));
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height .5s;
}

.layer h5 {
  color: var(--text-color);
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}

.layer p {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.7;
  margin: .3rem 0 1rem;
}

.layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: var(--text-color);
  border-radius: 50%;
  text-decoration: none;
}

.layer i {
  color: var(--third-bg-color);
  font-size: 20px;
}

.project-box:hover img { transform: scale(1.1); }

.project-box:hover .layer { height: 100%; }

.contact { padding-top: 220px; }

.contact-text h2 {
  font-size: 60px;
  line-height: 1;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-text h2 span { color: var(--main-color); }

.contact-form form {
  position: relative;
  max-width: 50rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form form .input-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-form form .input-box input,
.contact-form form textarea {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  color: var(--text-color);
  background: var(--third-bg-color);
  border-radius: 8px;
  margin: 12px 0;
  border: none;
  outline: none;
}

.contact-form form .input-box input:focus,
.contact-form form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--main-color);
}

.contact-form form .input-box input { width: 100%; }

.contact-form form textarea { resize: none; }

.contact-form form .btn {
  margin-top: 2rem;
  border: none;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 9%;
  background: var(--third-bg-color);
}

.footer-text p { font-size: 18px; }

.footer-iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  text-decoration: none;
  background: var(--main-color);
  border-radius: 12px;
  box-shadow: 0 0 5px var(--main-color),
  0 0 25px var(--main-color);
}

.footer-iconTop a:hover {
  box-shadow: 0 0 5px cyan,
  0 0 25px cyan, 0 0 50px cyan,
  0 0 100px cyan, 0 0 200px cyan;
}

.footer-iconTop a i {
  font-size: 2rem;
  color: var(--third-bg-color);
}

/* Animations */
@keyframes floatImage {
  0% { transform: translateY(0); }
  50% { transform: translateY(-2.4rem); }
  100% { transform: translateY(0); }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animate {
  100%{ transform: scaleX(1); }
}

@keyframes showText {
  100%{ opacity: 1; }
}

@keyframes animate-bar {
  100%{ stroke-dashoffset: -1; }
}

@keyframes animate-path1 {
  100%{ stroke-dashoffset: 50;}
}

@keyframes animate-path2 {
  100%{ stroke-dashoffset: 175;}
}

@keyframes animate-path3 {
  100%{ stroke-dashoffset: 125;}
}

@keyframes animate-path4 {
  100%{ stroke-dashoffset: 75;}
}